#collapseInfo .card {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

#according .card .card-header .btn {
    font-size: 20px;
    font-family: 'Nerko One', cursive;
}

.card-body {
    font-family: 'Nerko One', cursive;
    font-size: 15px;
}